- if user_signed_in?
  %h5.center
    %i.material-icons.comblue.small create_new_folder
    %span.comblueb.white-text.padding2.radius4 "Services"
  %h6.center.title やめTAP対応サービス一覧
  %blockquote.format

%ul.collection.with-header
  - @services.each do |service|
    .card.row.grid-1
      .card-content
        %span.card-title.activator.grey-text.text-darken-4
          =link_to "/services/#{service.id}" , method: :get do
            = image_tag "/#{service.id}.jpg", size: "30x30", class: "left marginleft30"
            %span.marginleft30.fontsize15
              #{service.service_name}
.marginbottom30

.bottomnav  
  %nav.mobile-bottom-nav
    = link_to subscriptions_path, method: :get, class: "mobile-bottom-nav__item mobile-bottom-nav__item" do
      .mobile-bottom-nav__item-content
        %i.material-icons.height20 folder_shared
        My Subsc
    = link_to services_path, method: :get, class: "mobile-bottom-nav__item mobile-bottom-nav__item--active" do
      .mobile-bottom-nav__item-content
        %i.material-icons.height20 create_new_folder
        Add Subsc
    = link_to destroy_user_session_path, method: :delete, class: "mobile-bottom-nav__item" do
      .mobile-bottom-nav__item-content
        %i.material-icons.height20 exit_to_app
        EXIT