#{@service.service_name}
#{@service.req_email_address}
#{@service.req_password}
#{@service.req_phone}
#{@service.req_birth_date}
#{@service.req_contract_number}
%br  
|service_name|string|null: false| 
%br  
|req_email_address|integer|null: false|
%br  
|req_password|integer|null: false|
%br  
|req_phone|integer|null: false|
%br  
|req_birth_date|integer|null: false|
%br  
|req_contract_number|string||
%br  

= form_for @subscription do |f|
  .field.col.s6.center  
    = f.email_field :email_address, placeholder: 'メールアドレスを入力してください'
  .field.col.s6.center  
    = f.text_field :password, placeholder: 'パスワードを入力してください'
  .field.col.s6.center  
    = f.text_field :phone, placeholder: '電話番号を入力してください'
  .field.col.s6.center  
    = f.text_field :contract_number, placeholder: '契約番号を入力してください'
  .field.col.s6.center  
    = f.text_field :service_id, placeholder:'#{@service.id}', type: "hidden"
  .field.col.s6.center  
    = f.text_field :in_use, type:"hidden", value: 0
  .field.col.s6.center
    = f.submit "Sign up"