!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Sma-Tra
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"}
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    / Import Google Icon Font
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    / Let browser know website is optimized for mobile
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %body
    %header
      .navbar-fixed
        %nav.z-depth-1
          .nav-wrapper.white
            = image_tag '/smatra_logo.jpeg', size: "180x55", class: "brand-logo"
            %a.sidenav-trigger.comblue{"data-target" => "mobile-demo", :href => ""}
              %i.material-icons menu
            %ul.right.hide-on-med-and-down

      = render 'layouts/sidenav'
      -# = render 'layouts/bottomnav'

        
    = yield


    %footer
      %p.center
        Copyright やめTap 2019.
        
    :javascript
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.fixed-action-btn');
        var instances = M.FloatingActionButton.init(elems);
      });
      document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.dropdown-trigger');
      var instances = M.Dropdown.init(elems);
      });

      document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.sidenav');
      var instances = M.Sidenav.init(elems);
      });

      document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.tooltipped');
          var instances = M.Tooltip.init(elems);
        });

      document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.materialboxed');
          var instances = M.Materialbox.init(elems);
        });

      document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.slider');
          var instances = M.Slider.init(elems);
        });
            $(function() {
      
              $("#title-input").on("keyup", function(){
                var charNum = String($(this).val().length);
                $("#char-count").text(charNum + "文字");
              });
              // $(".vision_card").fadeIn(2000);
            });

      document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.modal');
          var instances = M.Modal.init(elems);
        });
      window.onpageshow = function(event) {
        if (event.persisted) {
          window.location.reload();
        }
      };
      var navItems = document.querySelectorAll(".mobile-bottom-nav__item");
      navItems.forEach(function(e, i) {
        e.addEventListener("click", function(e) {
          navItems.forEach(function(e2, i2) {
            e2.classList.remove("mobile-bottom-nav__item--active");
          })
          this.classList.add("mobile-bottom-nav__item--active");
        });
      });

